/* @import url("../fonts/fonts.css");

* {
  font-family: Arial, Helvetica, sans-serif;
} */

p {
  color: #555555;
  font-family: RobotoSlab;
  font-weight: 400;
  line-height: 24px;
}

h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
}

#start {
  height: 770px;
  background-image: url(../img/star-bg.jpg);
  background-size: cover;
  background-position: center;
}

#start .container {
  padding: 0px;
}

nav {
  height: 103px;
  padding: 0 !important;
}

#start .main_link {
  padding-bottom: 10px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff !important;
}

.nav-link {
  padding: 0px !important;
  margin-left: 33px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff !important;
}

h1 {
  margin-top: 210px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

#start p {
  font-family: RobotoSlab;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.btn-outline-light {
  margin-top: 33px;
  width: 180px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

/* <!--================Start Services Section =================--> */

#services {
  height: 578px;
  background-color: #ffffff;
}

#services h2 {
  margin-top: 95px;
  margin-bottom: 47px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
}

.services-section-content h2 {
  position: relative;
}

.services-section-content {
  margin-bottom: 70px;
}

.services-section-content p {
  font-size: 16px;
}

.services-section-content h2:after {
  content: "";
  position: absolute;
  background-color: #555555;
  height: 1px;
  width: 50px;
  bottom: -28px;
  /* right: 30%; */
  left: 48%;
}

#services h3 {
  margin-bottom: 17px;
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555
}

.service-block p {
  line-height: 24px;
  font-size: 14px;
}

/* <!--================ Services Section End =================--> */

/* <!--================ About us Section Start =================--> */

#about-us {
  height: 852px;
  background-color: #f8f8f8;
}

#about-us h2 {
  margin-top: 95px;
  margin-bottom: 47px;
}

#about-us .container {
  padding: 0;
}

.about-text-block {
  line-height: 24px;
  font-size: 14px;
}

